.white-header {
    width: 100%;
    height: 20px;
    text-align:right;
}
.ac-header {
    width: 100%;
    height: 50px;
    background: #ffcc00;
    line-height: 50px;

}
.test-menu {
	display:block;
	text-align:right;
	li {
		display:inline-block;
		list-style-type:none;
		padding:0px 2px;
	}
}
.logout-icon {
	display:inline-block;
	width:20px; height:20px;
	background-color:#ffcc00;
}
.logo {
	margin-top:-40px;
	position: absolute;
}