language: node_js

node_js:
  - iojs

services:
  - mongodb

env:
  - NODE_PATH=./app/

script:
    #- ./node_modules/.bin/jscs app/
    #- ./node_modules/.bin/istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec tests/unit/**/*.js
    #- cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
    - ./node_modules/.bin/mocha --compilers tests/compiler.js tests/unit/*.jsx
