@font-face {
  font-family: 'Breathe-Regular';
  src: url('../fonts/Breathe-Regular.woff2') format('woff2'),
       url('../fonts/Breathe-Regular.woff') format('woff'),
       url('../fonts/Breathe-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Breathe-Press';
  src: url('../fonts/Breathe-Press.woff2') format('woff2'),
       url('../fonts/Breathe-Press.woff') format('woff'),
       url('../fonts/Breathe-Press.ttf') format('truetype');
}
.av-root {
    .header {
        width: 100%;
        overflow: hidden;
    }
    .content {
        width: 100%;
    }
}
